## IRI Data - Q3

Problem #3

The IRI data is set available on the AWS instance.  Several additional documents describing the data set and pointing to additional Bibliography are made available (including the white paper: Bronnenberg, Bart J., Kruger, Michael W, and Mela, Carl F. The IRI Marketing Dataset.). <br /> 
<br />
Getting to know this data set is time well spent as it will be very applicable towards the Fina project.  The data set is of medium size and complexity – however understanding the data and how file/folders/datasets related to each other will be of crucial importance for creating an appropriate training data set.  <br />
<br />
The data set has been purchase by UCSD, it is only for internal use and comes with restrictions.  Please read and follow the NDA specified at the very end of the “IRI_database_technical_appendix” document provided with the data set. <br />
<br /> 
I order to answer the questions below – document and describe what kind of data preparation and cleaning techniques did you have to apply?  What kinds of anomalies and missing data did you encounter?  Document how what assumption you made and how you approach the issues.
1. What are the most popular item(s) for a chosen product/category?<br />
2. How does the popularity of an item change with the cost associated with it for a chosen year?<br />
3. How is the popularity affected over the years? <br />
<br />
### Extra credit: (Not done yet)
Apply K-nearest neighbor algorithms to a chose subset of data for a specific set of products/categories.

In [17]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%%sql postgresql://sharknado:sharknado@sharknado-dse.ceg3hdkdq8l0.us-east-1.rds.amazonaws.com/sharknado
select * from products
limit 2

2 rows affected.

[(u'CATEGORY - SALTY SNACKS', u'POTATO CHIPS', u'ACTON CO INC', u'ACTON CO INC', u'GORDONS', u'+GORDN BBQ PTCHP THN 6OZ', 9, u'00-02-36300-04650', 0, 2, 36300, 4650, u'+GORDN BBQ PTCHP THN         6OZ 0 2 36300  4650 1  1 0.3750RP   00017', 0.375, u'POTATO CHIP', u'BAG', u'BARBECUE', u'MISSING', u'MISSING', u'MISSING', u'THIN'),
 (u'CATEGORY - SALTY SNACKS', u'POTATO CHIPS', u'ACTON CO INC', u'ACTON CO INC', u'GORDONS', u'+GORDN ORGL PTCHP FLAT 14.5OZ', 9, u'00-01-36300-04632', 0, 1, 36300, 4632, u'+GORDN ORGL PTCHP FLAT    14.5OZ 0 1 36300  4632 1  1 0.9063RP   00018', 0.9063, u'POTATO CHIP', u'PLASTIC BAG', u'ORIGINAL', u'MISSING', u'MISSING', u'MISSING', u'FLAT')]

In [11]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
## Get data for Salty snacks
%cd /Users/phesami/Documents/DSE/DSE220_Final_Project/IRI_Data/

/Users/phesami/Documents/DSE/DSE220_Final_Project/IRI_Data

#### Get data

##### Store level weekly data

In [4]:
# Considering only 3 years for the analysis
store_data = {}
yrs = [1]
# yrs = ['01','02']
# yrs = ['11']
import os
for i in yrs:
    tmp = 'store_yr_'+str(i)
    filepath = '/Users/phesami/Documents/DSE/DSE220_Final_Project/IRI_Data'+'/Year'+str(i)+'/External/saltsnck/'
    filename = os.listdir(filepath)
    file1 = filter(lambda filename: filename.startswith("saltsnck_drug"),filename)
    store_data["year"+str(i)+'drug'] = pd.read_fwf(filepath+'/'+file1[0])
    store_data["year"+str(i)+'drug']['yr'] = str(i)
    store_data["year"+str(i)+'drug']['store_type'] = 'drug'
    file2 = filter(lambda filename: filename.startswith("saltsnck_g"),filename)
    store_data["year"+str(i)+'groc'] = pd.read_fwf(filepath+'/'+file2[0])
    store_data["year"+str(i)+'groc']['yr'] = str(i)
    store_data["year"+str(i)+'groc']['store_type'] = 'groc'

In [5]:
store_data.keys()

['year1drug', 'year1groc']

In [8]:
store_data['year1drug'].head(2)

,IRI_KEY,WEEK,SY,GE,VEND,ITEM,UNITS,DOLLARS,F,D,PR,yr,store_type
0,664497,1114,0,1,41633,2154,3,2.97,NONE,0,0,1,drug
1,664497,1114,0,2,41633,145,6,13.14,NONE,0,0,1,drug

In [15]:
store_data['year1groc'].head(2)

,IRI_KEY,WEEK,SY,GE,VEND,ITEM,UNITS,DOLLARS,F,D,PR,yr,store_type
0,253422,1114,0,1,78271,1008,3,9.87,NONE,0,0,1,groc
1,253422,1114,0,1,78271,301,3,2.97,NONE,0,0,1,groc

##### Product attributes

The improved file format, which incorporates further information, is prod_category.xls, There are three sets of files.<br /> 
1. The first set of files are applicable to years 1-6 and are provided in a directory called “parsed stub files”.<br /> 
2. The second set of files are applicable to year 7 and are provided in a directory called “parsed stub files 2007”.<br /> 
3. The third set of files are applicable to years 8-11 are are provided in a directory called “parsed stub files 2008-2011”

In [9]:
# Get the product category details for the analysis

prod_cat_1 = pd.read_excel('parsed stub files/prod_saltsnck.xls')

prod_cat_2 = pd.read_excel('parsed stub files 2007/prod_saltsnck.xlsx')

# We will be using only prod_cat_3 for this analysis
prod_cat_3 = pd.read_excel('parsed stub files 2008-2011/prod11_saltsnck.xlsx')

In [12]:
prod_cat_2.head(2)

,L1,L2,L3,L4,L5,L9,Level,UPC,SY,GE,VEND,ITEM,*STUBSPEC 1431IS 00004,VOL_EQ,PRODUCT TYPE,PACKAGE,FLAVOR/SCENT,FAT CONTENT,COOKING METHOD,SALT/SODIUM CONTENT,TYPE OF CUT
0,CATEGORY - SALTY SNACKS,POTATO CHIPS,AFFINITY PRODUCTS INC.,AFFINITY PRODUCTS INC.,ENFUEGO,+ENFUG HT PTCHP FLAT 6OZ,9,00-01-72556-20210,0,1,72556,20210,+ENFUG HT PTCHP FLAT 6OZ 0 1 7...,0.375,POTATO CHIP,BAG,HOT,MISSING,MISSING,MISSING,FLAT
1,CATEGORY - SALTY SNACKS,POTATO CHIPS,AFFINITY PRODUCTS INC.,AFFINITY PRODUCTS INC.,ENFUEGO,+ENFUG HT PTCHP WAVY 6OZ,9,00-01-72556-20220,0,1,72556,20220,+ENFUG HT PTCHP WAVY 6OZ 0 1 7...,0.375,POTATO CHIP,BAG,HOT,MISSING,MISSING,MISSING,WAVY

##### Q1) What are the most popular item(s) for a chosen product/category?

I looked mostly at the number of units sold in the year 2011 as a proxy for popularity of the product. 

REGULAR POTATO CHIP IN A BAG is the most popular item.

Couldn't look into FAT CONTENT, COOKING METHOD, SALT/SODIUM CONTENT or TYPE OF CUT because of missing data.

In [14]:
# For this we will consider the most recent year 2011.

# Combine data for drugstores and grocery stores
frames = [store_data['year1drug'], store_data['year1groc']]
data_2011 = pd.concat(frames)

# Merge the store data with product category data
data_2011_with_cat = pd.merge(data_2011, prod_cat_3, how='left', on=['ITEM', 'ITEM'])

In [16]:
data_2011_with_cat.head(2)

,IRI_KEY,WEEK,SY_x,GE_x,VEND_x,ITEM,UNITS,DOLLARS,F,D,PR,yr,store_type,L1,L2,L3,L4,L5,L9,Level,UPC,SY_y,GE_y,VEND_y,*AG C=1+ CATEGORY 00004,VOL_EQ,PRODUCT TYPE,PACKAGE,FLAVOR/SCENT,FAT CONTENT,COOKING METHOD,SALT/SODIUM CONTENT,TYPE OF CUT
0,664497,1114,0,1,41633,2154,3,2.97,NONE,0,0,1,drug,CATEGORY - SALTY SNACKS,OTHER SALTED SNACKS (NO NUTS),PEPSICO INC,FRITO LAY,SUNCHIPS,+SNCHP HCDCH MGRCP 30LFT 1.75OZ,9,00-03-28400-02154,0,3,28400,+SNCHP HCDCH MGRCP 30LFT 1.75OZ 0 3 2...,0.1094,MULTI GRAIN CHIP,BAG,HARVEST CHEDDAR CHSE,30% LESS FAT,MISSING,MISSING,MISSING
1,664497,1114,0,2,41633,145,6,13.14,NONE,0,0,1,drug,CATEGORY - SALTY SNACKS,POTATO CHIPS,HERR FOODS INC,HERR FOODS INC,HERRS,+HERRS HOTSC PTCHP RPLD 1OZ,9,00-02-72600-00145,0,2,72600,+HERRS HOTSC PTCHP RPLD 1OZ 0 2 7...,0.0625,POTATO CHIP,BAG,HOT SAUCE,MISSING,MISSING,MISSING,RIPPLED

In [ ]:
# Get the most popular product 
# Filtered out only required columns as using the entire table was causing the system to crash
temp = data_2011_with_cat[['PRODUCT TYPE','PACKAGE','FLAVOR/SCENT','FAT CONTENT','COOKING METHOD','SALT/SODIUM CONTENT','TYPE OF CUT','UNITS','DOLLARS']]
temp.groupby(['PRODUCT TYPE'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

In [8]:
# Now that we know that 'Potato Chip' is the most popular product, I wanted to understand if we see any preference in packaging
temp[temp['PRODUCT TYPE']=='POTATO CHIP'].groupby(['PACKAGE'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                          UNITS       DOLLARS
PACKAGE
BAG                   223955809  5.038678e+08
BAG IN BOX              3110279  8.451179e+06
BOX                     2838465  7.095764e+06
BAG IN BAG               813948  2.321228e+06
BAG IN BAG INDV WRAP     711263  1.707785e+06

In [9]:
# Knowing that 'Potato chip' in a bag is the most preferred product, I wanted to see if there is any preference for flavour
temp[(temp['PRODUCT TYPE']=='POTATO CHIP')&(temp['PACKAGE']=='BAG')].groupby(['FLAVOR/SCENT'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                       UNITS       DOLLARS
FLAVOR/SCENT
REGULAR             65540217  1.463151e+08
CLASSIC             22288386  5.115768e+07
BARBECUE            19855618  4.056266e+07
ORIGINAL            16790944  4.480575e+07
SOUR CREAM & ONION  14981454  3.142769e+07

##### Q2) How does the popularity of an item change with the cost associated with it for a chosen year?

To understand how popularity of an item changes with cost associated with it, I took the data at the most granular level, SKU-week-store level and calculated the cost per unit. Then calculated the correlation of units and cost.

In this exercise, I found that popularity decreases as the cost associated with the product increases.

In [10]:
## Get Dollar/Unit at SKU-week-store level
temp_with_dol_per_unit = data_2011_with_cat[['IRI_KEY','WEEK','L9','UNITS','DOLLARS']].copy()
temp_with_dol_per_unit['DOL_PER_UNIT'] = temp_with_dol_per_unit['DOLLARS']/temp_with_dol_per_unit['UNITS']

In [11]:
temp_with_dol_per_unit[['UNITS','DOL_PER_UNIT']].corr()

                 UNITS  DOL_PER_UNIT
UNITS         1.000000     -0.141734
DOL_PER_UNIT -0.141734      1.000000

##### Q3) How is the popularity affected over the years?

To understand the popularity of the product over the years, I am going to consider 2 more years of data (2009 and 2010) and see how the top popular items have changed.

From the analysis, we can see that people absolutely love REGULAR - POTATO CHIP BAG. The preferences has been constant in the 3 years 2009,2010 and 2011.

In [12]:
# Analyse the years 2009 and 2010 to understand yearly trends

## 2010

# For this we will consider the most recent year 2011.

# Combine data for drugstores and grocery stores
frames = [store_data['year10drug'], store_data['year10groc']]
data_2010 = pd.concat(frames)

In [13]:
# Merge the store data with product category data
data_2010_with_cat = pd.merge(data_2010[['ITEM','UNITS','DOLLARS']], prod_cat_3[['ITEM','PRODUCT TYPE','PACKAGE','FLAVOR/SCENT']], how='left', on=['ITEM', 'ITEM'])

In [14]:
# Get the most popular product 
# Filtered out only required columns as using the entire table was causing the system to crash
# temp = data_2010_with_cat[['PRODUCT TYPE','PACKAGE','FLAVOR/SCENT','UNITS','DOLLARS']]
temp = data_2010_with_cat.copy()

In [15]:
temp.groupby(['PRODUCT TYPE'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                   UNITS       DOLLARS
PRODUCT TYPE
POTATO CHIP    233033671  5.063260e+08
TORTILLA CHIP  123354325  3.125108e+08
RTE POPCORN    109378966  2.450784e+08
PRETZEL         59658918  1.334708e+08
CHEESE SNACK    41104440  8.129556e+07

In [16]:
# Now that we know that 'Potato Chip' is the most popular product, I wanted to understand if we see any preference in packaging
temp[temp['PRODUCT TYPE']=='POTATO CHIP'].groupby(['PACKAGE'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                          UNITS       DOLLARS
PACKAGE
BAG                   223640138  4.833442e+08
BOX                     3293748  8.335918e+06
BAG IN BOX              2998029  7.618460e+06
BAG IN BAG               893960  2.368614e+06
BAG IN BAG INDV WRAP     718883  1.603734e+06

In [17]:
# Knowing that 'Potato chip' in a bag is the most preferred product, I wanted to see if there is any preference for flavour
temp[(temp['PRODUCT TYPE']=='POTATO CHIP')&(temp['PACKAGE']=='BAG')].groupby(['FLAVOR/SCENT'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                       UNITS       DOLLARS
FLAVOR/SCENT
REGULAR             64359833  1.386889e+08
CLASSIC             23666894  5.146254e+07
BARBECUE            20337720  3.911207e+07
ORIGINAL            17851000  4.668455e+07
SOUR CREAM & ONION  15021345  2.982388e+07

In [18]:
## 2009

# For this we will consider the most recent year 2011.

# Combine data for drugstores and grocery stores
frames = [store_data['year09drug'], store_data['year09groc']]
data_2009 = pd.concat(frames)

In [19]:
# Merge the store data with product category data
data_2009_with_cat = pd.merge(data_2009[['ITEM','UNITS','DOLLARS']], prod_cat_3[['ITEM','PRODUCT TYPE','PACKAGE','FLAVOR/SCENT']], how='left', on=['ITEM', 'ITEM'])

In [20]:
# Get the most popular product 
# Filtered out only required columns as using the entire table was causing the system to crash
# temp = data_2010_with_cat[['PRODUCT TYPE','PACKAGE','FLAVOR/SCENT','UNITS','DOLLARS']]
temp = data_2009_with_cat.copy()

In [21]:
temp.groupby(['PRODUCT TYPE'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                   UNITS       DOLLARS
PRODUCT TYPE
POTATO CHIP    225818321  4.959843e+08
TORTILLA CHIP  120490841  3.078093e+08
RTE POPCORN    103041702  2.286662e+08
PRETZEL         68392208  1.560690e+08
CHEESE SNACK    43395504  8.579934e+07

In [22]:
# Now that we know that 'Potato Chip' is the most popular product, I wanted to understand if we see any preference in packaging
temp[temp['PRODUCT TYPE']=='POTATO CHIP'].groupby(['PACKAGE'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                          UNITS       DOLLARS
PACKAGE
BAG                   217485247  4.759658e+08
BOX                     2715189  6.537386e+06
BAG IN BOX              2562690  6.379855e+06
BAG IN BAG               852028  2.341307e+06
BAG IN BAG INDV WRAP     717269  1.618975e+06

In [23]:
# Knowing that 'Potato chip' in a bag is the most preferred product, I wanted to see if there is any preference for flavour
temp[(temp['PRODUCT TYPE']=='POTATO CHIP')&(temp['PACKAGE']=='BAG')].groupby(['FLAVOR/SCENT'])['UNITS','DOLLARS'].sum().sort(['UNITS','DOLLARS'],ascending = [0,0]).head(5)

                       UNITS       DOLLARS
FLAVOR/SCENT
REGULAR             63574109  1.367132e+08
CLASSIC             24526637  5.550303e+07
BARBECUE            20644738  4.068679e+07
ORIGINAL            18093570  4.903277e+07
SOUR CREAM & ONION  14588031  2.927428e+07