In [22]:
import pandas as pd
import arff
data = arff.load(open('weather.numeric.arff', 'rb'))
cols = [col[0] for col in data['attributes']]
weather_DF = pd.DataFrame(data['data'], columns=cols)

In [23]:
weather_DF

     outlook  temperature  humidity  windy play
0      sunny           85        85  FALSE   no
1      sunny           80        90   TRUE   no
2   overcast           83        86  FALSE  yes
3      rainy           70        96  FALSE  yes
4      rainy           68        80  FALSE  yes
5      rainy           65        70   TRUE   no
6   overcast           64        65   TRUE  yes
7      sunny           72        95  FALSE   no
8      sunny           69        70  FALSE  yes
9      rainy           75        80  FALSE  yes
10     sunny           75        70   TRUE  yes
11  overcast           72        90   TRUE  yes
12  overcast           81        75  FALSE  yes
13     rainy           71        91   TRUE   no

In [26]:
mean_temp = weather_DF['temperature'].mean()
mean_humi = weather_DF['humidity'].mean()
print "mean temprature is", mean_temp
print "mean humidity is", mean_humi

mean temprature is 73.5714285714
mean humidity is 81.6428571429

In [31]:
weather_DF.ix[weather_DF['temperature']>mean_temp][['outlook','play']]

     outlook play
0      sunny   no
1      sunny   no
2   overcast  yes
9      rainy  yes
10     sunny  yes
12  overcast  yes

In [32]:
weather_DF.ix[weather_DF['humidity']>mean_humi][['outlook','play']]

     outlook play
0      sunny   no
1      sunny   no
2   overcast  yes
3      rainy  yes
7      sunny   no
11  overcast  yes
13     rainy   no

In [38]:
weather_DF['temperature_celsius']=(weather_DF['temperature']-32)*(5./9)
weather_DF

     outlook  temperature  humidity  windy play  temperature_celsius
0      sunny           85        85  FALSE   no            29.444444
1      sunny           80        90   TRUE   no            26.666667
2   overcast           83        86  FALSE  yes            28.333333
3      rainy           70        96  FALSE  yes            21.111111
4      rainy           68        80  FALSE  yes            20.000000
5      rainy           65        70   TRUE   no            18.333333
6   overcast           64        65   TRUE  yes            17.777778
7      sunny           72        95  FALSE   no            22.222222
8      sunny           69        70  FALSE  yes            20.555556
9      rainy           75        80  FALSE  yes            23.888889
10     sunny           75        70   TRUE  yes            23.888889
11  overcast           72        90   TRUE  yes            22.222222
12  overcast           81        75  FALSE  yes            27.222222
13     rainy           71        91   TRUE   no            21.666667